{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website dengan Navbar, Content, dan Footer Kompleks</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>

    <!-- <i><a class="fa fa-bars burger" href=""></a></i> -->

    <div> <a id="logo-1" href="">Waroenk Fadillah</a></div>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">FOOD MENU</a></li>
    </ul>
  </nav>

  <div class="slider-container">
    <div class="slider">
      {% for x in nav %}
      <div class="slide">
        <a href="">
          {% if x.food_price < 10000 %}
          <img src="{{MEDIA_URL}}{{x.food_image}}" height="200">
          <p>Harga: Rp.{{x.food_price}}/pcs</p>
          {% else %}
          <img src="{{MEDIA_URL}}{{x.food_image}}" height="200">
          <p>Harga: Rp.{{x.food_price}}</p>
          {% endif %}
        </a>
      </div>
      {% endfor%}
    </div>
    <div class="arrow left">&lt;</div>
    <div class="arrow right">&gt;</div>
  </div>

  <footer class="footer">

  </footer>
  <div class="footer-col" style="color: black;">
    <h3>Tentang Kami</h3>
    <p>
      Kami menjual Pempek yang fresh dan bersih, tidak hanya itu kami menjual macam - macam makanan lainnya,
      ayo makan jika lapar minum jika haus wkwk.
    </p>
  </div>
  <div class="footer-col">
    <h3>Hubungi Kami</h3>
    <ul class="ul-footer">
      <li class="footer-a">Alamat: Jl. Raya Tarantang No. 12</li>
      <li class="footer-a">Telp: 081275765359</li>
      <li class="footer-a">Email: waroenkfadillah05@gmail.com</li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Ikuti Kami</h3>
    <ul>
      <li class="footer-a"><a class="footer-end" href="#">Facebook</a></li>
      <li class="footer-a"><a class="footer-end" href="#">Twitter</a></li>
      <li class="footer-a"><a class="footer-end" href="#">Instagram</a></li>
    </ul>
  </div>

  <script src="{% static 'script.js' %}"></script>
  <script src="{% static 'home.js' %}"></script>
</body>

</html>