{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website dengan Navbar, Content, dan Footer Kompleks</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>

    <!-- <i><a class="fa fa-bars burger" href=""></a></i> -->

    <div> <a id="logo-1" href="">Logo</a></div>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">FOOD MENU</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="content-1">
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
    </div>

    <div class="content-2">
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
      <div class="cards-bagian-1">
        <a href="">
          <img src="{% static 'gambar 1.png' %}" alt="Gambar card">
          <h2 style="display: flex; justify-content: center; align-items: center; text-decoration: none;">FOOD</h2>
        </a>
      </div>
    </div>
  </div>

  <footer class="footer">



    
  </footer>
  <!-- <div class="footer-col">
    <h3>Tentang Kami</h3>
    <p>
      Kami menjual Pempek yang fresh dan bersih, tidak hanya itu kami menjual macam - macam makanan lainnya,
      ayo makan jika lapar minum jika haus wkwk.
    </p>
  </div>
  <div class="footer-col">
    <h3>Hubungi Kami</h3>
    <ul class="ul-footer">
      <li class="footer-a">Alamat: Jl. Raya Tarantang No. 12</li>
      <li class="footer-a">Telp: 081275765359</li>
      <li class="footer-a">Email: waroenkfadillah05@gmail.com</li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Ikuti Kami</h3>
    <ul>
      <li class="footer-a"><a class="footer-end" href="#">Facebook</a></li>
      <li class="footer-a"><a class="footer-end" href="#">Twitter</a></li>
      <li class="footer-a"><a class="footer-end" href="#">Instagram</a></li>
    </ul>
  </div> -->

  <script src="{% static 'script.js' %}"></script>
</body>

</html>